.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# # Exclude dataset files
# dataset/**
# **/node_modules/**
# **/out/test/**
# **/coverage/**
# **/.nyc_output/**
# **/*.vsix
# **/.github/**
# **/.git/**
# **/.idea/**
# **/.DS_Store
# **/thumbs.db
# **/Thumbs.db
# **/*.log
# **/*.lock
# **/.prettier*
# **/.eslint*
# **/.webpack*
# **/.vscode*
